<select
  [(ngModel)]="stateId"
  (change)="handleStateSelection($event.target.value)"
>
  <option *ngFor="let state of states" [value]="state.state_id">
    {{ state.state_name }}
  </option>
</select>
<select [(ngModel)]="districtId">
  <option *ngFor="let district of districts" [value]="district.district_id">
    {{ district.district_name }}
  </option>
</select>
<input type="date" [(ngModel)]="dateToSearch" />
<button (click)="searchHandler()">Search</button>
<button [disabled]="interval" (click)="handleStartQuery()">Start</button>
<button [disabled]="!interval" (click)="handleStopQuery()">Stop</button>


<table class="table-decorator">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Pincode</th>
    <th>Available Capacity</th>
    <th>Date</th>
    <th>Fee Type</th>
    <th>Slots</th>
  </thead>
  <tbody>
    <tr *ngFor="let session of sessions">
      <td>{{ session.name }}({{session.center_id}})</td>
      <td>{{ session.address }}</td>
      <td>{{ session.pincode }}</td>
      <td>{{ session.available_capacity_dose1 }}</td>
      <td>{{ session.date }}</td>
      <td>{{ session.fee_type }}</td>
      <td>
        <table>
          <tr *ngFor="let slot of session.slots">
            <td>{{ slot }}</td>
            <td>
              <button (click)="handleOtpGen()">OTP GEN</button>
              <input type="text" [(ngModel)]="otp"/>
              <button (click)="handleOtpSubmit()">GetCaptcha</button>
              <button (click)="handleCaptchaSubmit(slot, session.session_id,session.center_id)">Submit</button>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
